{% extends 'layouts.html' %}

{% block main %}
<section class="section">
    <div class="container">
        <h1 class="title">Recipes</h1>
        <div class="columns is-multiline">
            {% for recipe in recipes %}
            <div class="column is-4">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ recipe['title'] }}</p>
                                <p class="subtitle is-6">{{ recipe['description'] }}</p>
                            </div>
                        </div>
                        <div class="content">
                            <p><strong>Ingredients:</strong>{{ recipe['ingredients'] }}</p>
                            <p><strong>Preparation Time:</strong> {{ recipe['preparation_time'] }} minutes</p>
                            <p><strong>Cooking Time:</strong> {{ recipe['cooking_time'] }} minutes</p>
                            <p><strong>Total Time:</strong> {{ recipe['total_time'] }} minutes</p>
                            <p><strong>Servings:</strong> {{ recipe['servings'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}