{% extends 'layouts.html' %}

{% block main %}
<h2 class="title">Update Recipe</h2>
<form class="box" action="/recipe" method="post">
    <div class="field">
        <label class="label" for="title">Title:</label>
        <div class="control">
            <input class="input" type="text" name="title" id="title" required>
        </div>
    </div>

    <div class="field">
        <label class="label" for="description">Description:</label>
        <div class="control">
            <input class="input" type="text" name="description" id="description" required>
        </div>
    </div>

    <div class="field">
        <label class="label" for="ingredients">Ingredients:</label>
        <div class="control">
            <input class="input" type="text" name="ingredients" id="ingredients" required>
        </div>
    </div>

    <div class="field">
        <label class="label" for="preparation_time">Preparation Time (minutes):</label>
        <div class="control">
            <input class="input" type="number" name="preparation_time" id="preparation_time" required>
        </div>
    </div>

    <div class="field">
        <label class="label" for="cooking_time">Cooking Time (minutes):</label>
        <div class="control">
            <input class="input" type="number" name="cooking_time" id="cooking_time" required>
        </div>
    </div>

    <div class="field">
        <label class="label" for="servings">Servings:</label>
        <div class="control">
            <input class="input" type="number" name="servings" id="servings" required>
        </div>
    </div>

    <button class="button is-primary" type="submit">Update Recipe</button>
</form>
{% endblock %}